img{
width: 100%;
position: absolute;
top:0;
z-index: 0;
height: 100%;
}
h1 {
padding-bottom: 15px;
}
.group-card{
    background: #ffffffbd;
}

.button-form{
    margin: 10%;
    align-content: center;
    display: grid !important;
}

.form-user {
    background: #ffffffbd;
    padding: 50px;
    border-radius: 5px;
position: relative
;    z-index: 2;
}
.container-form-user {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    position: absolute;
    width: 100%;
}

